<main class="max-w-6xl mx-auto px-4 py-6 grid grid-cols-1 md:grid-cols-[260px,1fr] gap-6">
  <app-hotel-filter
    [rating]="hs.ratingFilter()"
    [maxPrice]="hs.priceFilter()"
    [selectedStars]="hs.starsFilter()"
    (nameChange)="onNameFilter($event)"
    (categoriesChange)="onCategoriesFilter($event)"
    (ratingChange)="onRatingFilter($event)"
    (priceChange)="onPriceFilter($event)">
  </app-hotel-filter>

  <section>
    @if (hs.isLoading()) {
      <app-state-loading
        [text]="'Cargando hoteles…'">
      </app-state-loading>
    }
    @else if (hs.error()) {
      <app-state-error
        [text]="'Error cargando hoteles'">
      </app-state-error>
    }
    @else {
      <app-hotels-list
        [hotels]="hs.hotels()"
        [total]="hs.total()"
        [currentPage]="hs.currentPage()"
        [totalPages]="hs.totalPages()"
        [pageSize]="hs.pageSize"
        (pageChange)="goToPage($event)">
      </app-hotels-list>
    }
  </section>
</main>
